{% extends 'base.html' %}

{% block title %}Create Profile{% endblock %}

{% block content %}
<div class="page">
    <div class="top-gold"></div>

    <div class="brand-wrap">
        <img class="brand-logo"
             src="{{ url_for('static', filename='image/logo.png') }}">
    </div>

    <div class="login-panel">
        <h1 class="panel-title">Create Your Profile</h1>

        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="field">
                <label class="label" for="profile_image">Profile Picture</label>
                <input class= "input" type="file" name="profile_image" id="profile_image">
                <input class="input" type="hidden" id="profile_image_url" name="profile_image_url">
            </div>

            <div class="field">
                <label class="label">Display Name</label>
                <input class="input" name="display_name" required>
            </div>

            <div class="field">
                <label class="label">State of Origin</label>
                <input class="input" name="state">
            </div>

            <div class="field">
                <label class="label">Hometown</label>
                <input class="input" name="hometown">
            </div>

            <div class="field">
                <label class="label" for="squad">Squad</label>
                <select class="input" id="squad" name="squad" required>
                    <option value="">Select Squad</option>
                        {% for squad in squads %}
                            <option value="{{ squad }}">
                                {{ squad }}
                            </option>
                        {% endfor %}
                </select>
            </div>

            <div class="field">
                <label class="label">Qualification</label>
                <select class="input" name="qualification">
                    <option value=""> Select Qualification </option>
                    <option value="BSc"> BSc </option>
                    <option value="BA"> BA </option>
                    <option value="LLB"> LLB </option>
                </select>
            </div>

            <div class="field">
                <label class="label" for="department">Department</label>
                <select class="input" id="department" name="department" required>
                    <option value="">Select Department</option>
                        {% for department in departments %}
                            <option value="{{ department }}">
                                {{ department }}
                            </option>
                        {% endfor %}
                </select>
            </div>

            <div class="field">
                <label class="label">Date of Birth(Optional)</label>
                <input class="input" type="date" name="date_of_birth" placeholder="yyyy-mm-dd">
            </div>

            <div class="field">
                <label style="display:flex; align-items:flex-start; gap:10px; font-family:'Inter', sans-serif; line-height:1.5;">
                    <input type="checkbox" name="consent_given" value="yes" required style="margin-top:4px;">
                    <span>
                        I agree to have my submitted profile information displayed on the RC7 Digital Yearbook web app for other RC7 members to view.
                    </span>
                </label>
            </div>

            <div class="divider"></div>

            <button class="login-button" id="loginBtn" type="submit">
                Save Profile
            </button>
        </form>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/image_upload.js') }}"></script>
{% endblock %}